@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
* {
  color: #fff;
  margin: 0;
}
input {
  color: black;
}
p {
  margin: 20px 0;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}
/* page content */
main {
  width: 100vw;
  margin: 40px auto;
}
.checked-item {
  text-decoration: line-through;
}
.modal {
  color: black;
}
.no-decoration {
  text-decoration: none;
}
.login input {
  color: black;
  width: 100%;
}
.register input {
  color: black;
  width: 100%;
}

.buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.checklist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  row-gap: 12px;
}
.list-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  row-gap: 12px;
}

.list-row {
  display: flex;
  column-gap: 12px;
}

.add-file {
  color: #fff;
}

/* mobile devices*/
@media (max-width: 480px) {
  .login {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    row-gap: 12px;
  }

  .register {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    row-gap: 12px;
  }

  .add-task {
    width: 193px;
  }
}

/*laptop screen*/
@media (min-width: 768px) {
  .login {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    row-gap: 12px;
  }

  .register {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    row-gap: 12px;
  }

  .add-task {
    width: 300px;
  }
}

/*large screens*/
@media (min-width: 1024px) {
  .login {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    row-gap: 12px;
  }

  .register {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    row-gap: 12px;
  }
  .register input {
    color: black;
    width: 100%;
  }

  .buttons {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .add-task {
    width: 300px;
  }
}
